<flynt-component>

    <div class=" splide homePageBannerSection rounded-[20px] md:rounded-full overflow-hidden">

        <div class="splide__track">
            <ul class="splide__list ">

                <li class="splide__slide rounded-full">
                    <img src="/wp-content/themes/betseige/assets/banner/nfl.jpg" class=" h-full w-full object-cover md:rounded-full max-h-[376px]" /></li>

                <li class="splide__slide rounded-full">
                    <img src="/wp-content/themes/betseige/assets/banner/basketball.jpg" class="h-full w-full object-cover md:rounded-full max-h-[376px]" /></li>

                
            </ul>

        </div>
    </div>


{# Including the news slider #}


 {# {% include 'Partials/_news.twig' %} #}
  {# {% include 'Partials/_newsSample.twig' %} #}
    {% include 'Partials/_extraPosts.twig' %}
    {# {% include 'Partials/_matchupsDesign.twig' %} #}
    {% include 'Partials/_gridUi.twig' %}
    {% block script %}


    <script>
    document.addEventListener('DOMContentLoaded', function(){
    new Splide('.homePageBannerSection',{
        type:'loop',
        gap:'2rem',
        breakpoints:{
            640:{
                height:'10rem',
            }
        }
    }).mount();
    })
    
    </script>

    {% endblock %}

</flynt-component>