<div class="p-example__body flex md:gap-10 items-center overflow-hidden ">


	<div>
		<div class=" flex justify-center "  role="group" aria-roledescription="slide" aria-label="1 of 4" aria-hidden="false" tabindex="0">
						<div class="flex items-center justify-center">
							<div class=" flex justify-center items-center  " id="splide05-slide01-col01">
								<div class="show_content_container hidden  lg:w-[345px] w-auto h-[332px] md:flex flex-col pb-[31px] relative px-6 pt-10 border border-[#4B5567] rounded-full ">
									<h4 class="text-[24px] text-center font-nexa font-black text-white mt-0">BIG 6</h4>
									<p class="text-[#AFB9CB] font-roboto text-[16px] leading-6 mt-[7px] line-clamp-6  p-2">
										Explore the latest updates, transfers, and insights across all major sports leagues. Select your league below to 
																														                        see the most relevant posts and stay informed with BetSeige.
									</p>
								<li class="flex justify-center items-center soccer_league_dd relative">
						<a class="block p-4 text-black opacity-90 transition-opacity hover:opacity-60 aria-[current=page]:opacity-100 dark:text-[#ECE9E4]" href="/signup">Soccer
						</a>
						<img src="\wp-content\themes\betseige\assets\images\download.svg" alt="angle_icon" class="h-5 w-5">

						<ul class="sub-menu hidden absolute bg-[#1d2129] text-[18px] rounded-xl" style="width: 200px;left: 50%;top: 50%;transform: translate(-50%, 10%);
								
																								    z-index: 10;">
							<li id="menu-item-30964" class="soccer_icon menu-item menu-item-type-taxonomy menu-item-object-category menu-item-30964 h-full p-2 border-b-2 text-white border-[#343b48]">
								<a href="https://www.betustv.com/mls/">NFL</a>
							</li>
							<li id="menu-item-40" class="cl_icon menu-item menu-item-type-taxonomy menu-item-object-category menu-item-40 h-full p-2 border-b-2 text-white border-[#343b48]">
								<a href="https://www.betustv.com/champions-league/">NCAAB</a>
							</li>
							<li id="menu-item-48" class="prem_icon menu-item menu-item-type-taxonomy menu-item-object-category menu-item-48 h-full p-2 border-b-2 text-white border-[#343b48] ">
								<a href="https://www.betustv.com/premier-league/">NCAAF</a>
							</li>
							<li id="menu-item-41" class="liga_icon menu-item menu-item-type-taxonomy menu-item-object-category menu-item-41 h-full p-2 border-b-2 text-white border-[#343b48]">
								<a href="https://www.betustv.com/la-liga/">MLB</a>
							</li>
							<li id="menu-item-49" class="ita_icon menu-item menu-item-type-taxonomy menu-item-object-category menu-item-49 h-full p-2 border-b-2 text-white border-[#343b48] ">
								<a href="https://www.betustv.com/serie-a/">NBA</a>
							</li>
							<li id="menu-item-39" class="bund_icon menu-item menu-item-type-taxonomy menu-item-object-category menu-item-39 h-full p-2 border-b-2 text-white border-[#343b48] ">
								<a href="https://www.betustv.com/bundesliga/">NHL</a>
							</li>
						
						</ul>

					</li>


								</div>
							</div>
						</div>
					</div>
	</div>

	<div class="p-example__splide w-full md:w-[70%]">
		<div class="splide" id="example-grid">
			<div class="splide__track">
				<ul class="splide__list">

			

					<li class=" splide__slide overflow-hidden ">

						<img loading="lazy" class="w-full h-full -ml-[4%] rounded-[20px] " alt="2024 SUPER BOWL Mai33n Props Feb 07, 2024" src="https://www.betustv.com/wp-content/uploads/2024/02/3_SUPER-BOWL-Main-Props-FEB7-1024x576.jpg">

					</li>

					<li class="p-splide__slide splide__slide">
						<div class="md:flex justify-between items-center gap-5">
							<div class="md:w-1/2">
								<div class="game_preview">
									<a href="https://www.betustv.com/nfl/2024-super-bowl-player-props-02-11-2024/" tabindex="-1">
										<div class="border border-[#4B5567] rounded-lg  md:h-[140px]">
											<img loading="lazy" class="w-full h-full rounded-lg object-cover ls-is-cached lazyloaded" data-src="https://www.betustv.com/wp-content/uploads/2024/02/2_SUPER-BOWL-Player-Props-FEB7-1024x576.jpg" alt="2024 Super Bowl Player Props Feb 11, 2024" src="https://www.betustv.com/wp-content/uploads/2024/02/2_SUPER-BOWL-Player-Props-FEB7-1024x576.jpg" style="--smush-placeholder-width: 1024px; --smush-placeholder-aspect-ratio: 1024/576;"><noscript><img loading="lazy" class="w-full h-full rounded-lg object-cover" src="https://www.betustv.com/wp-content/uploads/2024/02/2_SUPER-BOWL-Player-Props-FEB7-1024x576.jpg" alt="2024 Super Bowl Player Props Feb 11, 2024"></noscript>
										</div>
										<h6 class="preview_title text-white font-roboto text-sm font-bold leading-5 line-clamp-2 mt-2">
											2024 Super Bowl Player Props Feb 11, 2024
										</h6>
									</a>
								</div>

							</div>
							<div class="md:w-1/2">
								<div class="game_preview ">
									<a href="https://www.betustv.com/nfl/2024-super-bowl-player-props-02-11-2024/" tabindex="-1">
										<div class="border border-[#4B5567] rounded-lg md:h-[140px] ">
											<img loading="lazy" class="w-full h-full rounded-lg object-cover ls-is-cached lazyloaded" data-src="https://www.betustv.com/wp-content/uploads/2024/02/2_SUPER-BOWL-Player-Props-FEB7-1024x576.jpg" alt="2024 Super Bowl Player Props Feb 11, 2024" src="https://www.betustv.com/wp-content/uploads/2024/02/2_SUPER-BOWL-Player-Props-FEB7-1024x576.jpg" style="--smush-placeholder-width: 1024px; --smush-placeholder-aspect-ratio: 1024/576;"><noscript><img loading="lazy" class="w-full h-full rounded-lg object-cover" src="https://www.betustv.com/wp-content/uploads/2024/02/2_SUPER-BOWL-Player-Props-FEB7-1024x576.jpg" alt="2024 Super Bowl Player Props Feb 11, 2024"></noscript>
										</div>
										<h6 class="preview_title text-white font-roboto text-sm font-bold leading-5 line-clamp-2 mt-2">
											2024 Super Bowl Player Props Feb 11, 2024
										</h6>
									</a>
								</div>

							</div>
						</div>

					</li>
					<li class="p-splide__slide splide__slide">
						<div class="md:flex justify-between items-center gap-5">
							<div class="md:w-1/2">
								<div class="game_preview">
									<a href="https://www.betustv.com/nfl/2024-super-bowl-player-props-02-11-2024/" tabindex="-1">
										<div class="border border-[#4B5567] rounded-lg xs:h-[140px]">
											<img loading="lazy" class="w-full h-full rounded-lg object-cover ls-is-cached lazyloaded" data-src="https://www.betustv.com/wp-content/uploads/2024/02/2_SUPER-BOWL-Player-Props-FEB7-1024x576.jpg" alt="2024 Super Bowl Player Props Feb 11, 2024" src="https://www.betustv.com/wp-content/uploads/2024/02/2_SUPER-BOWL-Player-Props-FEB7-1024x576.jpg" style="--smush-placeholder-width: 1024px; --smush-placeholder-aspect-ratio: 1024/576;"><noscript><img loading="lazy" class="w-full h-full rounded-lg object-cover" src="https://www.betustv.com/wp-content/uploads/2024/02/2_SUPER-BOWL-Player-Props-FEB7-1024x576.jpg" alt="2024 Super Bowl Player Props Feb 11, 2024"></noscript>
										</div>
										<h6 class="preview_title text-white font-roboto text-sm font-bold leading-5 line-clamp-2 mt-2">
											2024 Super Bowl Player Props Feb 11, 2024
										</h6>
									</a>
								</div>

							</div>
							<div class="md:w-1/2">
								<div class="game_preview ">
									<a href="https://www.betustv.com/nfl/2024-super-bowl-player-props-02-11-2024/" tabindex="-1">
										<div class="border border-[#4B5567] rounded-lg xl:h-[140px] xs:h-[140px] ">
											<img loading="lazy" class="w-full h-full rounded-lg object-cover ls-is-cached lazyloaded" data-src="https://www.betustv.com/wp-content/uploads/2024/02/2_SUPER-BOWL-Player-Props-FEB7-1024x576.jpg" alt="2024 Super Bowl Player Props Feb 11, 2024" src="https://www.betustv.com/wp-content/uploads/2024/02/2_SUPER-BOWL-Player-Props-FEB7-1024x576.jpg" style="--smush-placeholder-width: 1024px; --smush-placeholder-aspect-ratio: 1024/576;"><noscript><img loading="lazy" class="w-full h-full rounded-lg object-cover" src="https://www.betustv.com/wp-content/uploads/2024/02/2_SUPER-BOWL-Player-Props-FEB7-1024x576.jpg" alt="2024 Super Bowl Player Props Feb 11, 2024"></noscript>
										</div>
										<h6 class="preview_title text-white font-roboto text-sm font-bold leading-5 line-clamp-2 mt-2">
											2024 Super Bowl Player Props Feb 11, 2024
										</h6>
									</a>
								</div>

							</div>
						</div>

					</li>
					<li class="p-splide__slide splide__slide">
						<img src="https://www.betustv.com/wp-content/uploads/2024/02/3_SUPER-BOWL-Main-Props-FEB7-1024x576.jpg" class=" h-full w-[20rem] object-cover rounded-2xl border-2 md:border-4   hover:shadow-blue-500/50 shadow-xl hover:shadow-2xl  border-white">
					</li>
					<li class="p-splide__slide splide__slide">
						<img src="https://www.betustv.com/wp-content/uploads/2024/02/3_SUPER-BOWL-Main-Props-FEB7-1024x576.jpg" class=" h-full  w-[20rem] object-cover rounded-2xl border-2 md:border-4   hover:shadow-blue-500/50 shadow-xl hover:shadow-2xl  border-white">
					</li>
					<li class="p-splide__slide splide__slide">
						<img src="https://www.betustv.com/wp-content/uploads/2024/02/3_SUPER-BOWL-Main-Props-FEB7-1024x576.jpg" class=" h-full  w-[20rem] object-cover rounded-2xl border-2 md:border-4   hover:shadow-blue-500/50 shadow-xl hover:shadow-2xl  border-white">
					</li>
					<li class="p-splide__slide splide__slide">
						<img src="https://www.betustv.com/wp-content/uploads/2024/02/3_SUPER-BOWL-Main-Props-FEB7-1024x576.jpg" class=" h-full  w-[20rem] object-cover rounded-2xl border-2 md:border-4   hover:shadow-blue-500/50 shadow-xl hover:shadow-2xl  border-white">
					</li>
					<li class="p-splide__slide splide__slide">
						<img src="https://www.betustv.com/wp-content/uploads/2024/02/3_SUPER-BOWL-Main-Props-FEB7-1024x576.jpg" class=" h-full  w-full object-cover rounded-2xl border-2 md:border-4   hover:shadow-blue-500/50 shadow-xl hover:shadow-2xl  border-white">

					</li>
					<li class="p-splide__slide splide__slide">
						<img src="https://www.betustv.com/wp-content/uploads/2024/02/3_SUPER-BOWL-Main-Props-FEB7-1024x576.jpg" class=" h-full  w-full object-cover rounded-2xl border-2 md:border-4   hover:shadow-blue-500/50 shadow-xl hover:shadow-2xl  border-white">

					</li>
					<li class="p-splide__slide splide__slide">
						<img src="https://www.betustv.com/wp-content/uploads/2024/02/3_SUPER-BOWL-Main-Props-FEB7-1024x576.jpg" class=" h-full  w-full object-cover rounded-2xl border-2 md:border-4   hover:shadow-blue-500/50 shadow-xl hover:shadow-2xl  border-white">

					</li>
					<li class="p-splide__slide splide__slide">
						<img src="https://www.betustv.com/wp-content/uploads/2024/02/3_SUPER-BOWL-Main-Props-FEB7-1024x576.jpg" class=" h-full  w-full object-cover rounded-2xl border-2 md:border-4   hover:shadow-blue-500/50 shadow-xl hover:shadow-2xl  border-white">

					</li>
					{# <li class="p-splide__slide splide__slide">
																<span class="p-splide__slide-number">13</span>
															</li>
															<li class="p-splide__slide splide__slide">
																<span class="p-splide__slide-number">14</span>
															</li>
															<li class="p-splide__slide splide__slide">
																<span class="p-splide__slide-number">15</span>
															</li>
															<li class="p-splide__slide splide__slide">
																<span class="p-splide__slide-number">16</span>
															</li> #}

				</ul>
			</div>
		</div>
	</div>


</div>


<script type="module">

	import Grid from "https://cdn.skypack.dev/@splidejs/splide-extension-grid@0.2.0"
import Splide from "https://cdn.skypack.dev/@splidejs/splide@2.4.21"
document.addEventListener('DOMContentLoaded', () => {
new Splide('#example-grid', {
type: 'loop',
gap: '2em',

perPage: 2,
perMove: 1,
grid: {
dimensions: [
[
0, 1
],
[
2, 1
],
[
1, 2
],
[
2, 2
],
[
1, 2
],
[
2, 2
]
],
gap: {
row: '0.5em',
col: '0.5em'
}
},
breakpoints: {
600: {

perPage: 1,
grid: {
dimensions: [
[
1
],
[
1, 1
],
[
1, 1
],
[
1, 1
],
[
1, 1
],
[
1, 1
]
],
gap: {
row: '.5em',
col: '.5em'
}
}
}
}
}).mount({Grid})
})
</script>
