<div data-id="0" data-url="https://www.betustv.com/nfl/" class="shows-slider splide mb-[64px]  is-overflow  splide--grid splide--carousel splide--ltr splide--draggable is-active" id="splide05" role="region" aria-roledescription="carousel">
	<div class="splide__track pt-[30px] !z-50 splide__track--carousel splide__track--ltr splide__track--draggable" id="splide05-track" aria-live="polite" aria-atomic="true" aria-busy="false" style="padding-left: 0px; padding-right: 0px;">
		<div class="splide__list" id="splide05-list" role="presentation" style="transform: translateX(0px);">

			<div class="splide__slide " id="splide05-slide01" role="group" aria-roledescription="slide" aria-label="1 of 4" style="margin-right: 12px;">
				<div class="" style="height: calc(100% + 0px); display: flex; margin: 0px; padding: 0px;">
					<div class="splide__slide flex items-center max-w-[345px] w-[345px] " id="splide05-slide01-col01" style="width: calc(100% + 0px);">
						<div
							class="show_content_container lg:w-[345px] w-auto h-[332px] md:flex flex-col pb-[31px] relative px-6 pt-10 border border-[#4B5567] rounded-full ">
							{# <div class="show_logo absolute top-[-40px] left-4">
							                        
							                            </div> #}
							<h4 class="text-[24px] text-center font-nexa font-black text-white mt-0">BIG 6</h4>
							<p class="text-[#AFB9CB] font-roboto text-[16px] leading-6 mt-[7px] line-clamp-6  p-2">
								Explore the latest updates, transfers, and insights across all major sports leagues. Select your league below to 
								                        see the most relevant posts and stay informed with BetSeige.
							</p>
							<div
								class="more_btns w-full flex justify-center items-center space-x-3 mt-[25px]">
								{# <a class="block w-1/2 min-w-[140px] font-nexa font-black text-center leading-5 py-3 max-w-[163px] border border-white rounded-full text-white"
								                                    href="https://www.betustv.com/nfl/">
								                                    More
								                                </a> #}
								<li class="flex justify-center relative items-center soccer_league_dd">

									<a class="block p-4 text-black opacity-80 transition-opacity hover:opacity-60 aria-[current=page]:opacity-100 dark:text-[#ECE9E4]" href="/signup">More
									</a>

									<img src="\wp-content\themes\flynt\assets\images\download.svg" class="h-4 w-6 object-cover" alt="angle_icon">

									<ul class="absolute top-10 z-50 h-full w-full">
										<li>
											Raj
										</li>
										<li>Dkfjf</li>
										<li>Dkfjf</li>
										<li>Dkfjf</li>

									</ul>

								</li>
							</div>


						</div>
					</div>
				</div>
			</div>
			<div class="splide__slide" id="splide05-slide02" role="group" aria-roledescription="slide" aria-label="2 of 4" style="margin-right: 12px;">
				<div class="" style="height: calc(100% + 0px); display: flex; margin: 0px; padding: 0px;">
					<div class="splide__slide rounded-2xl border border-[#4B5567] !w-[270px] h-[150px] xs:!w-[327px] xs:h-[184px] xl:h-full xl:max-w-[587px] xl:min-w-[587px] splide__slide--has-video " data-splide-youtube="https://www.youtube.com/watch?v=99cCR_9r-SY" id="splide05-slide02-col01" style="width: calc(100% + 0px); background: url(&quot;https://www.betustv.com/wp-content/uploads/2024/02/3_SUPER-BOWL-Main-Props-FEB7-1024x576.jpg&quot;) center center / cover no-repeat;">
						<img loading="lazy" class="w-full h-full" alt="2024 SUPER BOWL Main Props Feb 07, 2024" src="https://www.betustv.com/wp-content/uploads/2024/02/3_SUPER-BOWL-Main-Props-FEB7-1024x576.jpg" style="display: none;">
						<div class="splide__video">
							<button class="splide__video__play" type="button" aria-label="Play Video"></button>
							<div class="splide__video__wrapper" style="display: none;">
								<div></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="splide__slide" id="splide05-slide03" role="group" aria-roledescription="slide" aria-label="3 of 4" aria-hidden="true" style="margin-right: 12px;">
				<div class="" style="height: calc(50% - 3px); display: flex; margin: 0px 0px 6px; padding: 0px;">
					<div class="splide__slide " id="splide05-slide03-col01" style="width: calc(33.3333% - 4px); margin-right: 6px;">
						<div class="game_preview xl:w-[192px] xs:w-[327px] w-[270px] max-w-[325px]">
							<a href="https://www.betustv.com/nfl/2024-super-bowl-player-props-02-11-2024/" tabindex="-1">
								<div class="border border-[#4B5567] rounded-lg xl:h-[106px] xs:h-[140px] h-[110px]">
									<img loading="lazy" class="w-full h-full rounded-lg object-cover ls-is-cached lazyloaded" data-src="https://www.betustv.com/wp-content/uploads/2024/02/2_SUPER-BOWL-Player-Props-FEB7-1024x576.jpg" alt="2024 Super Bowl Player Props Feb 11, 2024" src="https://www.betustv.com/wp-content/uploads/2024/02/2_SUPER-BOWL-Player-Props-FEB7-1024x576.jpg" style="--smush-placeholder-width: 1024px; --smush-placeholder-aspect-ratio: 1024/576;"><noscript><img loading="lazy" class="w-full h-full rounded-lg object-cover" src="https://www.betustv.com/wp-content/uploads/2024/02/2_SUPER-BOWL-Player-Props-FEB7-1024x576.jpg" alt="2024 Super Bowl Player Props Feb 11, 2024"></noscript>
								</div>
								<h6 class="preview_title text-white font-roboto text-sm font-bold leading-5 line-clamp-2 mt-2">
									2024 Super Bowl Player Props Feb 11, 2024
								</h6>
							</a>
						</div>
					</div>
					<div class="splide__slide " id="splide05-slide03-col02" style="width: calc(33.3333% - 4px); margin-right: 6px;">
						<div class="game_preview xl:w-[192px] xs:w-[327px] w-[270px] max-w-[325px]">
							<a href="https://www.betustv.com/nfl/predictions-and-analysis-49ers-vs-chiefs-02-11-2024/" tabindex="-1">
								<div class="border border-[#4B5567] rounded-lg xl:h-[106px] xs:h-[140px] h-[110px]">
									<img loading="lazy" class="w-full h-full rounded-lg object-cover ls-is-cached lazyloaded" data-src="https://www.betustv.com/wp-content/uploads/2024/02/1_49ers-vs-Chiefs-FEB7-1024x576.jpg" alt="Predictions and Analysis: 49ers vs Chiefs Feb 11, 2024" src="https://www.betustv.com/wp-content/uploads/2024/02/1_49ers-vs-Chiefs-FEB7-1024x576.jpg" style="--smush-placeholder-width: 1024px; --smush-placeholder-aspect-ratio: 1024/576;"><noscript><img loading="lazy" class="w-full h-full rounded-lg object-cover" src="https://www.betustv.com/wp-content/uploads/2024/02/1_49ers-vs-Chiefs-FEB7-1024x576.jpg" alt="Predictions and Analysis: 49ers vs Chiefs Feb 11, 2024"></noscript>
								</div>
								<h6 class="preview_title text-white font-roboto text-sm font-bold leading-5 line-clamp-2 mt-2">
									Predictions and Analysis: 49ers vs Chiefs Feb 11, 2024
								</h6>
							</a>
						</div>
					</div>
					<div class="splide__slide " id="splide05-slide03-col03" style="width: calc(33.3333% - 4px); margin-right: 6px;">
						<div class="game_preview xl:w-[192px] xs:w-[327px] w-[270px] max-w-[325px]">
							<a href="https://www.betustv.com/nfl/2024-super-bowl-novelty-props-02-11-2024/" tabindex="-1">
								<div class="border border-[#4B5567] rounded-lg xl:h-[106px] xs:h-[140px] h-[110px]">
									<img loading="lazy" class="w-full h-full rounded-lg object-cover ls-is-cached lazyloaded" data-src="https://www.betustv.com/wp-content/uploads/2024/02/4_SUPER-BOWL-Novelty-Props-FEB7-1024x576.jpg" alt="2024 SUPER BOWL Novelty Props Feb 11, 2024" src="https://www.betustv.com/wp-content/uploads/2024/02/4_SUPER-BOWL-Novelty-Props-FEB7-1024x576.jpg" style="--smush-placeholder-width: 1024px; --smush-placeholder-aspect-ratio: 1024/576;"><noscript><img loading="lazy" class="w-full h-full rounded-lg object-cover" src="https://www.betustv.com/wp-content/uploads/2024/02/4_SUPER-BOWL-Novelty-Props-FEB7-1024x576.jpg" alt="2024 SUPER BOWL Novelty Props Feb 11, 2024"></noscript>
								</div>
								<h6 class="preview_title text-white font-roboto text-sm font-bold leading-5 line-clamp-2 mt-2">
									2024 SUPER BOWL Novelty Props Feb 11, 2024
								</h6>
							</a>
						</div>
					</div>
				</div>
				<div class="" style="height: calc(50% - 3px); display: flex; margin: 0px; padding: 0px;">
					<div class="splide__slide " id="splide05-slide03-col04" style="width: calc(33.3333% - 4px); margin-right: 6px;">
						<div class="game_preview xl:w-[192px] xs:w-[327px] w-[270px] max-w-[325px]">
							<a href="https://www.betustv.com/nfl/picks-predictions-lions-vs-49ers-01-28-2024/" tabindex="-1">
								<div class="border border-[#4B5567] rounded-lg xl:h-[106px] xs:h-[140px] h-[110px]">
									<img loading="lazy" class="w-full h-full rounded-lg object-cover ls-is-cached lazyloaded" data-src="https://www.betustv.com/wp-content/uploads/2024/01/2_Lions-vs-49ers-JAN24-1024x576.jpg" alt="Picks &amp; Predictions: Lions vs 49ers 01/28/2024" src="https://www.betustv.com/wp-content/uploads/2024/01/2_Lions-vs-49ers-JAN24-1024x576.jpg" style="--smush-placeholder-width: 1024px; --smush-placeholder-aspect-ratio: 1024/576;"><noscript><img loading="lazy" class="w-full h-full rounded-lg object-cover" src="https://www.betustv.com/wp-content/uploads/2024/01/2_Lions-vs-49ers-JAN24-1024x576.jpg" alt="Picks &amp; Predictions: Lions vs 49ers 01/28/2024"></noscript>
								</div>
								<h6 class="preview_title text-white font-roboto text-sm font-bold leading-5 line-clamp-2 mt-2">
									Picks &amp; Predictions: Lions vs 49ers 01/28/2024
								</h6>
							</a>
						</div>
					</div>
					<div class="splide__slide " id="splide05-slide03-col05" style="width: calc(33.3333% - 4px); margin-right: 6px;">
						<div class="game_preview xl:w-[192px] xs:w-[327px] w-[270px] max-w-[325px]">
							<a href="https://www.betustv.com/nfl/predictions-preview-chiefs-vs-ravens-01-28-2024/" tabindex="-1">
								<div class="border border-[#4B5567] rounded-lg xl:h-[106px] xs:h-[140px] h-[110px]">
									<img loading="lazy" class="w-full h-full rounded-lg object-cover ls-is-cached lazyloaded" data-src="https://www.betustv.com/wp-content/uploads/2024/01/1_Chiefs-vs-Ravens-JAN24-1024x576.jpg" alt="Predictions &amp; Preview: Chiefs vs Ravens 01-28-2024" src="https://www.betustv.com/wp-content/uploads/2024/01/1_Chiefs-vs-Ravens-JAN24-1024x576.jpg" style="--smush-placeholder-width: 1024px; --smush-placeholder-aspect-ratio: 1024/576;"><noscript><img loading="lazy" class="w-full h-full rounded-lg object-cover" src="https://www.betustv.com/wp-content/uploads/2024/01/1_Chiefs-vs-Ravens-JAN24-1024x576.jpg" alt="Predictions &amp; Preview: Chiefs vs Ravens 01-28-2024"></noscript>
								</div>
								<h6 class="preview_title text-white font-roboto text-sm font-bold leading-5 line-clamp-2 mt-2">
									Predictions &amp; Preview: Chiefs vs Ravens 01-28-2024
								</h6>
							</a>
						</div>
					</div>
					<div class="splide__slide " id="splide05-slide03-col06" style="width: calc(33.3333% - 4px);">
						<div class="game_preview xl:w-[192px] xs:w-[327px] w-[270px] max-w-[325px]">
							<a href="https://www.betustv.com/nfl/preview-analysis-buccaneers-vs-lions-01-21-2024/" tabindex="-1">
								<div class="border border-[#4B5567] rounded-lg xl:h-[106px] xs:h-[140px] h-[110px]">
									<img loading="lazy" class="w-full h-full rounded-lg object-cover ls-is-cached lazyloaded" data-src="https://www.betustv.com/wp-content/uploads/2024/01/3_Buccaneers-vs-Lions-JAN17-1-1024x576.jpg" alt="Preview &amp; Analysis:  Buccaneers vs  Lions 01-21-2024" src="https://www.betustv.com/wp-content/uploads/2024/01/3_Buccaneers-vs-Lions-JAN17-1-1024x576.jpg" style="--smush-placeholder-width: 1024px; --smush-placeholder-aspect-ratio: 1024/576;"><noscript><img loading="lazy" class="w-full h-full rounded-lg object-cover" src="https://www.betustv.com/wp-content/uploads/2024/01/3_Buccaneers-vs-Lions-JAN17-1-1024x576.jpg" alt="Preview &amp; Analysis:  Buccaneers vs  Lions 01-21-2024"></noscript>
								</div>
								<h6 class="preview_title text-white font-roboto text-sm font-bold leading-5 line-clamp-2 mt-2">
									Preview &amp; Analysis: Buccaneers vs Lions 01-21-2024
								</h6>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="splide__slide" id="splide05-slide04" role="group" aria-roledescription="slide" aria-label="4 of 4" aria-hidden="true" style="margin-right: 12px;">
				<div class="" style="height: calc(50% - 3px); display: flex; margin: 0px 0px 6px; padding: 0px;">
					<div class="splide__slide " id="splide05-slide04-col01" style="width: calc(33.3333% - 4px); margin-right: 6px;">
						<div class="game_preview xl:w-[192px] xs:w-[327px] w-[270px] max-w-[325px]">
							<a href="https://www.betustv.com/nfl/predictions-analysis-chiefs-vs-bills-01-21-2024/" tabindex="-1">
								<div class="border border-[#4B5567] rounded-lg xl:h-[106px] xs:h-[140px] h-[110px]">
									<img loading="lazy" class="w-full h-full rounded-lg object-cover ls-is-cached lazyloaded" data-src="https://www.betustv.com/wp-content/uploads/2024/01/4_Chiefs-vs-Bills-JAN17-1024x576.jpg" alt="Predictions &amp; Analysis: Chiefs vs Bills 01-21-2024" src="https://www.betustv.com/wp-content/uploads/2024/01/4_Chiefs-vs-Bills-JAN17-1024x576.jpg" style="--smush-placeholder-width: 1024px; --smush-placeholder-aspect-ratio: 1024/576;"><noscript><img loading="lazy" class="w-full h-full rounded-lg object-cover" src="https://www.betustv.com/wp-content/uploads/2024/01/4_Chiefs-vs-Bills-JAN17-1024x576.jpg" alt="Predictions &amp; Analysis: Chiefs vs Bills 01-21-2024"></noscript>
								</div>
								<h6 class="preview_title text-white font-roboto text-sm font-bold leading-5 line-clamp-2 mt-2">
									Predictions &amp; Analysis: Chiefs vs Bills 01-21-2024
								</h6>
							</a>
						</div>
					</div>
					<div class="splide__slide " id="splide05-slide04-col02" style="width: calc(33.3333% - 4px); margin-right: 6px;">
						<div class="game_preview xl:w-[192px] xs:w-[327px] w-[270px] max-w-[325px]">
							<a href="https://www.betustv.com/nfl/preview-analysis-texans-vs-ravens-01-20-2024/" tabindex="-1">
								<div class="border border-[#4B5567] rounded-lg xl:h-[106px] xs:h-[140px] h-[110px]">
									<img loading="lazy" class="w-full h-full rounded-lg object-cover ls-is-cached lazyloaded" data-src="https://www.betustv.com/wp-content/uploads/2024/01/1_Texans-vs-Ravens-JAN17-1024x576.jpg" alt="Preview &amp; Analysis: Texans vs Ravens 01-20-2024" src="https://www.betustv.com/wp-content/uploads/2024/01/1_Texans-vs-Ravens-JAN17-1024x576.jpg" style="--smush-placeholder-width: 1024px; --smush-placeholder-aspect-ratio: 1024/576;"><noscript><img loading="lazy" class="w-full h-full rounded-lg object-cover" src="https://www.betustv.com/wp-content/uploads/2024/01/1_Texans-vs-Ravens-JAN17-1024x576.jpg" alt="Preview &amp; Analysis: Texans vs Ravens 01-20-2024"></noscript>
								</div>
								<h6 class="preview_title text-white font-roboto text-sm font-bold leading-5 line-clamp-2 mt-2">
									Preview &amp; Analysis: Texans vs Ravens 01-20-2024
								</h6>
							</a>
						</div>
					</div>
					<div class="splide__slide " id="splide05-slide04-col03" style="width: calc(33.3333% - 4px); margin-right: 6px;">
						<div class="game_preview xl:w-[192px] xs:w-[327px] w-[270px] max-w-[325px]">
							<a href="https://www.betustv.com/nfl/picks-predictions-packers-vs-49ers-01-20-2024/" tabindex="-1">
								<div class="border border-[#4B5567] rounded-lg xl:h-[106px] xs:h-[140px] h-[110px]">
									<img loading="lazy" class="w-full h-full rounded-lg object-cover ls-is-cached lazyloaded" data-src="https://www.betustv.com/wp-content/uploads/2024/01/2_Packers-vs-49ers-JAN16-1024x576.jpg" alt="Picks &amp; Predictions: Packers vs 49ers 01/20/2024" src="https://www.betustv.com/wp-content/uploads/2024/01/2_Packers-vs-49ers-JAN16-1024x576.jpg" style="--smush-placeholder-width: 1024px; --smush-placeholder-aspect-ratio: 1024/576;"><noscript><img loading="lazy" class="w-full h-full rounded-lg object-cover" src="https://www.betustv.com/wp-content/uploads/2024/01/2_Packers-vs-49ers-JAN16-1024x576.jpg" alt="Picks &amp; Predictions: Packers vs 49ers 01/20/2024"></noscript>
								</div>
								<h6 class="preview_title text-white font-roboto text-sm font-bold leading-5 line-clamp-2 mt-2">
									Picks &amp; Predictions: Packers vs 49ers 01/20/2024
								</h6>
							</a>
						</div>
					</div>
				</div>
				<div class="" style="height: calc(50% - 3px); display: flex; margin: 0px; padding: 0px;">
					<div class="splide__slide " id="splide05-slide04-col04" style="width: calc(33.3333% - 4px); margin-right: 6px;">
						<div class="game_preview xl:w-[192px] xs:w-[327px] w-[270px] max-w-[325px]">
							<a href="https://www.betustv.com/nfl/analysis-predictions-eagles-vs-buccaneers-1-15-2024/" tabindex="-1">
								<div class="border border-[#4B5567] rounded-lg xl:h-[106px] xs:h-[140px] h-[110px]">
									<img loading="lazy" class="w-full h-full rounded-lg object-cover ls-is-cached lazyloaded" data-src="https://www.betustv.com/wp-content/uploads/2024/01/6_EAGLES-VS-BUCCANEERS-1024x576.png" alt="Analysis &amp; Predictions: Eagles vs Buccaneers 1/15/2024" src="https://www.betustv.com/wp-content/uploads/2024/01/6_EAGLES-VS-BUCCANEERS-1024x576.png" style="--smush-placeholder-width: 1024px; --smush-placeholder-aspect-ratio: 1024/576;"><noscript><img loading="lazy" class="w-full h-full rounded-lg object-cover" src="https://www.betustv.com/wp-content/uploads/2024/01/6_EAGLES-VS-BUCCANEERS-1024x576.png" alt="Analysis &amp; Predictions: Eagles vs Buccaneers 1/15/2024"></noscript>
								</div>
								<h6 class="preview_title text-white font-roboto text-sm font-bold leading-5 line-clamp-2 mt-2">
									Analysis &amp; Predictions: Eagles vs Buccaneers 1/15/2024
								</h6>
							</a>
						</div>
					</div>
					<div class="splide__slide " id="splide05-slide04-col05" style="width: calc(33.3333% - 4px); margin-right: 6px;">
						<div class="game_preview xl:w-[192px] xs:w-[327px] w-[270px] max-w-[325px]">
							<a href="https://www.betustv.com/nfl/preview-analysis-rams-vs-lions-1-14-2024/" tabindex="-1">
								<div class="border border-[#4B5567] rounded-lg xl:h-[106px] xs:h-[140px] h-[110px]">
									<img loading="lazy" class="w-full h-full rounded-lg object-cover ls-is-cached lazyloaded" data-src="https://www.betustv.com/wp-content/uploads/2024/01/5_RAMS-VS-LIONS-1024x576.png" alt="Preview &amp; Analysis: Rams vs Lions 1/14/2024" src="https://www.betustv.com/wp-content/uploads/2024/01/5_RAMS-VS-LIONS-1024x576.png" style="--smush-placeholder-width: 1024px; --smush-placeholder-aspect-ratio: 1024/576;"><noscript><img loading="lazy" class="w-full h-full rounded-lg object-cover" src="https://www.betustv.com/wp-content/uploads/2024/01/5_RAMS-VS-LIONS-1024x576.png" alt="Preview &amp; Analysis: Rams vs Lions 1/14/2024"></noscript>
								</div>
								<h6 class="preview_title text-white font-roboto text-sm font-bold leading-5 line-clamp-2 mt-2">
									Preview &amp; Analysis: Rams vs Lions 1/14/2024
								</h6>
							</a>
						</div>
					</div>
					<div class="splide__slide " id="splide05-slide04-col06" style="width: calc(33.3333% - 4px);">
						<div class="game_preview xl:w-[192px] xs:w-[327px] w-[270px] max-w-[325px]">
							<a href="https://www.betustv.com/nfl/picks-preview-packers-vs-cowboys-1-14-2024/" tabindex="-1">
								<div class="border border-[#4B5567] rounded-lg xl:h-[106px] xs:h-[140px] h-[110px]">
									<img loading="lazy" class="w-full h-full rounded-lg object-cover ls-is-cached lazyloaded" data-src="https://www.betustv.com/wp-content/uploads/2024/01/4_PACKERS-VS-COWBOYS-1024x576.png" alt="Picks &amp; Preview: Packers vs Cowboys 1/14/2024" src="https://www.betustv.com/wp-content/uploads/2024/01/4_PACKERS-VS-COWBOYS-1024x576.png" style="--smush-placeholder-width: 1024px; --smush-placeholder-aspect-ratio: 1024/576;"><noscript><img loading="lazy" class="w-full h-full rounded-lg object-cover" src="https://www.betustv.com/wp-content/uploads/2024/01/4_PACKERS-VS-COWBOYS-1024x576.png" alt="Picks &amp; Preview: Packers vs Cowboys 1/14/2024"></noscript>
								</div>
								<h6 class="preview_title text-white font-roboto text-sm font-bold leading-5 line-clamp-2 mt-2">
									Picks &amp; Preview: Packers vs Cowboys 1/14/2024
								</h6>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="slider-arrows hidden xl:block absolute w-full h-full top-0 px-[15px] max-w-[990px] xl:max-w-[1430px]">
		<div class="mx-auto flex justify-between">
			<svg class="slider-prev-btn translate-y-[-50%] z-[60] top-1/2 absolute cursor-pointer w-[30px] h-[30px] sm:w-[42px] sm:h-[42px] hidden" width="42" height="42" viewbox="0 0 42 42" fill="none" xmlns="http://www.w3.org/2000/svg">
				<rect x="0.5" y="0.5" width="41" height="41" rx="20.5" fill="#1D2129" fill-opacity="0.7"></rect>
				<rect x="0.5" y="0.5" width="41" height="41" rx="20.5" stroke="white"></rect>
				<rect width="20" height="20" transform="translate(11 11)" fill="white" fill-opacity="0.01"></rect>
				<path fill-rule="evenodd" clip-rule="evenodd" d="M19.4597 15.293C19.8502 14.9025 20.4834 14.9025 20.8739 15.293C21.2645 15.6835 21.2645 16.3167 20.8739 16.7072L17.581 20.0001H26.8335C27.3858 20.0001 27.8335 20.4478 27.8335 21.0001C27.8335 21.5524 27.3858 22.0001 26.8335 22.0001H17.581L20.8739 25.293C21.2645 25.6835 21.2645 26.3167 20.8739 26.7072C20.4834 27.0978 19.8502 27.0978 19.4597 26.7072L14.4606 21.7081C14.2791 21.5271 14.1668 21.2767 14.1668 21.0001C14.1668 20.7234 14.2793 20.4729 14.4609 20.2918L19.4597 15.293Z" fill="white"></path>
			</svg>
			<svg class="slider-next-btn translate-y-[-50%] z-[60] top-1/2 right-[15px] absolute cursor-pointer w-[30px] h-[30px] sm:w-[42px] sm:h-[42px]" width="42" height="42" viewbox="0 0 42 42" fill="none" xmlns="http://www.w3.org/2000/svg">
				<rect x="0.5" y="0.5" width="41" height="41" rx="20.5" fill="#1D2129" fill-opacity="0.7"></rect>
				<rect x="0.5" y="0.5" width="41" height="41" rx="20.5" stroke="white"></rect>
				<rect width="20" height="20" transform="translate(11 11)" fill="white" fill-opacity="0.01"></rect>
				<path fill-rule="evenodd" clip-rule="evenodd" d="M22.5403 15.293C22.1498 14.9025 21.5166 14.9025 21.1261 15.293C20.7355 15.6835 20.7355 16.3167 21.1261 16.7072L24.419 20.0001H15.1665C14.6142 20.0001 14.1665 20.4478 14.1665 21.0001C14.1665 21.5524 14.6142 22.0001 15.1665 22.0001H24.419L21.1261 25.293C20.7355 25.6835 20.7355 26.3167 21.1261 26.7072C21.5166 27.0978 22.1498 27.0978 22.5403 26.7072L27.5394 21.7081C27.7209 21.5271 27.8332 21.2767 27.8332 21.0001C27.8332 20.7234 27.7207 20.4729 27.5391 20.2918L22.5403 15.293Z" fill="white"></path>
			</svg>
		</div>
	</div>
</div>

<script src="
	https://cdn.jsdelivr.net/npm/@splidejs/splide-extension-grid@0.4.1/dist/js/splide-extension-grid.min.js
	"></script>
<script type="module">
	import Splide from "https://cdn.skypack.dev/@splidejs/splide@2.4.21"
import Grid from "https://cdn.skypack.dev/@splidejs/splide-extension-grid@0.2.0"
document.addEventListener('DOMContentLoaded', function () {

new Splide('#splide05', {
type: 'carousel',
arrows: false,
pagination: false,
perMove: 1,
perPage: 2,
gap: '12px',
lazyLoad: true,
rewind: false,
pauseOnHover: false,
cover: true,
autoWidth: true,
breakpoints: {
1200: {
perPage: 4
}
},
grid: {
dimensions: [
[
1, 1
],
[
1, 1
],
[
2, 3
],
],
gap: {
row: '6px',
col: '10px'
}
}
}).mount({})
})
</script>
